/* GENERAL STYLES */
.blue-txt {
    color: var(--blue-color);
}
/* END OF GENERAL STYLES */


/* NAV STYLES */
.navbar {
    display: flex;
    background-color: var(--grey-bg);
    align-items: center;
    padding: .5rem;
    justify-content: space-between;
    height: 10vh;
    font-size: 1rem;
}

.navbar__start {
    display: flex;
    align-items: center;
}

/* LOGO STYLES */
.nav__logo {
    text-decoration: none;
    color: var(--grey-color);
    font-size: 1.5em;
    font-weight: 700;
    transition: 400ms ease-in-out;
}
.nav__logo:hover {
    color: var(--blue-color);
}
/* END OF LOGO STYLES */

.nav {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav__items {
    display: flex;
    list-style: none;
    margin-right: 2rem;
    justify-content: flex-end;
}

.nav__item {
    display: flex;
    align-items: center;
    height: 10vh;
}

.nav__link {
    text-decoration: none;
    color: var(--grey-color);
    font-size: inherit;
    font-weight: 700;
    padding: .5rem 1rem;
    transition: 400ms ease-in-out;
}
.nav__link:hover {
    color: var(--blue-color);
}

.search {
    width: 25%;
    max-width: 500px;
    display: flex;
}
.nav input {
    border-radius: .25em;
    font-size: inherit;
    padding: .5rem 1rem;
    border: none;
}


@media (max-width:900px) {
    .nav__items {
        display: none;
    }
}

@media (max-width:560px) {
    .nav > input {
        display: none;
    }
}