.flex-row {
    display: flex;
    gap: 1rem;
}

.header {
    background-color: #F1F1F1;
    align-items: center;
    padding: .5rem;
    justify-content: space-between;
}

/* logo styles */
.logo {
    font-weight: 700;
}
.blue-txt {
    color: rgb(19, 19, 124);
}
/* end of logo styles */

/* nav styles */
.nav__link {
    background: none;
    color: #777;
    text-decoration: none;
    border: none;
    font-size: inherit;
    cursor: pointer;
}
.nav__link:hover, .dropdown.active > .nav__link {
    color: rgb(19, 19, 124);
}

.dropdown {
    position: relative;
}

.dropdown__heading {
    /* color: orange; */
    color: rgb(19, 19, 124);
}

.dropdown__menu {
    position: absolute;
    left: 0;
    top: calc(100% + .25rem);
    
    /* background-color: #F1F1F1; */
    background-color: white;
    color: #777;
    padding: 0.75rem;
    border-radius: .25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    
    transform: translateY(-10px);
    transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
}

.dropdown.active > .nav__link + .dropdown__menu {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: .75rem;
}

.dropdown__links {
    display: flex;
    flex-direction: column;
}


/* login form styles */
.nav__form > input {
    margin-bottom: .5rem;
}

.form__action {
    justify-content: space-between;
}
/* end of login form styles */


.header input, .form__btn {
    border: 1px solid black;
    border-radius: .25rem;
    font-size: inherit;
}

/* end of nav styles */



@media (max-width:430px) {
    .nav > input {
        display: none;
    }
}